body {
    background-color: #c9d6d6;
    display: block;

  }

.indexbody{
  max-height: 100%;
  margin: 0;
  position: fixed;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

h2 {
    color: #6b8d8d;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

 p {
    color: black;
    background-color: #98afaf;
    background-color: transparent;
    width: fit-content;
    line-height: 20px;
    font-size: small;
    margin-top: 20px;
    margin-left: 175px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .form {
    color: black;
    background-color: #98afaf;
    background-color: transparent;
    width: fit-content;
    line-height: 20px;
    font-size: small;
    margin-top: 20px;
    margin-left: 175px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .menu {
    width: 15em;
    padding: 8px 12px;
    color: white;
    position: absolute;
    top: 1%;
    left: 15%;
    transform: translate(-50%, -50%);

  }

  ul {
    display: flex;
    margin-left: 50px;
    list-style-type: none;
    margin-top: 150px;
    padding: 0px;
  }

  li {
    max-width: 60px;
  }

  li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
  }

  li a:hover {
    color:#6b8d8d;
    font-weight: bolder;
  }

  li {
    margin-top: 1%;
    display: inline;
    float: left;
    font-size: .9em;
    margin-left: 50px;
  }

  a {
    margin: 1px;
    color: #495b5b;
  }

  .banner{
    width: 120%;
    margin-top: -10px;
    margin-left: -10px;
    object-fit: contain;
  }

  .notindex {
    margin-left: 100px;
  }

  .title h1{
    position: absolute;
    margin-top: 45vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: rgba(80,120,120,.95);
    text-align: center;
  }

  .title2 h1{
    position: absolute;
    margin-top: 58vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: rgba(80,120,120,.60);
    text-align: center;
  }

  .bottomtext p{
    position: absolute;
    z-index: 999;
    transform: translate(-50%, -50%);
    font-size: smaller;
    color: rgba(80,120,120,.99);
    z-index: 999;
    margin: 0 auto;
    left: 50%;
    right: 0;
    top: 95%;
    text-align: center;
    width: 60%;
  }

  /*interactivity*/
  .hidden {
    display: none;
  }

  #next-button {
    height: 32px;
    margin: 3%;
    position: absolute;
    margin-top: 50vh;
    right: 3%;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
    text-align: center;
  }

  #prev-button {
    height: 32px;
    margin: 3%;
    position: absolute;
    margin-top: 50vh;
    left: 3%;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
    text-align: center;
  }


  .slider {
    width: 120%;
    margin-top: -30px;
    margin-left: -10px;
    object-fit: contain;
  }


/*pages*/
figure {
  display: block;
  width: 50%;
  height: auto;
  margin-left: 250px;

}

/* page title */
.spacing h1{
  margin-left: 175px;
  margin-top: 120px;
  font-size: 50px;
  margin-bottom: 0;

}

/* subtitle */
.spacing h2{
  margin-left: 175px;
}

.name p{
  font-size: large;
  margin-top: 50px;
  background-color: #98afaf;
  color: black;
  width:fit-content;
  font-weight: bold;
  font-size: medium;
  margin-left: 175px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.rectangle {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  background-color: #6b8d8d;
}

figcaption {
  font-size: x-small;
  color:#495b5b;
}
